.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
!layers/xray/python/lib
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
.env
.idea
__pycache__/
.vscode/
.pytest_cache/
.mypy_cache/
