[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.75.2"
httpx = "0.22.0"
redis = "4.4.4"
uvicorn = "0.17.6"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
radon = "*"
tabulate = "*"

[requires]
python_version = "3.10"

[scripts]
raw = "radon raw . -O ../metrics/choreography/raw.json -s -j"
hal = "radon hal . -O ../metrics/choreography/hal.json -j"
cc = "radon cc . -O ../metrics/choreography/cc.json -j --total-average -s"
